.App {
  text-align: center;
}

div.DraftEditor-root {
  width:50%;
  margin:auto;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
  min-height:300px;
  overflow: auto;
  padding:20px 60px;
  font-size: 1rem;
  font-family: 'calibri', sans-serif;
  padding-top: 70px;
}

div.toolbar {
  position: relative;
  z-index: 2;
  width: 50%;
  background-color: lightsteelblue;
  padding: 10px 60px;
  margin: auto;
  top: 45px;
  text-align: right;
}
div.toolbar button {
  border: none;
  box-sizing: border-box;
  padding:5px;
  margin-right: 1rem;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

div.toolbar button:focus {
  box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}

div.terms {
  padding-top: 2rem;
  z-index: 10;
  width: 10rem;
  height: 6rem;
  position: absolute;
  background-color: #eee;
  right: 5%;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}

.dragging {
  animation: jump 800ms linear infinite;
}

@keyframes jump {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}